.iconContainer {
  flex: 1;
  font-size: 2em; /* Ajusta el tamaño del icono */
  padding: 10px; /* Añade espacio alrededor del icono */
  text-align: center;
}

.taskTitle {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 10px; /* Añade espacio alrededor del título */
}

.taskDescription {
  flex: 2;
  padding: 10px; /* Añade espacio alrededor de la descripción */
  font-size: 16px;
}

.toggleButton {
  flex: 1;
  font-size: 0.8em; 
  padding: 10px; 
  background: none;
  border: none;
  color: grey; 
}

.toggleButton.completed {
  color: #00ff00; 
}

.taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.taskContainer.completed {
  border-color: #00ff00; 
  border-width: 2px; 
}

@media (min-width: 600px) {
  .taskContainer {
    flex-direction: row;
  }
}


.toggleButton {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 2em;
}

.toggleButton:hover {
  color: #00ff00;
}