.listTitle {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
.commentUser {
    font-size: 20px;
    margin-bottom: 5px;
}
  
.commentContent {
    font-size: 16px;
    margin-bottom: 10px;
}

.commentAt {
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}
  
.deleteButton {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}